html {
    background-image:url("https://i.pinimg.com/originals/93/d6/de/93d6deabff72e13966f9ede0edc50e17.jpg");
    background-size: revert;
}
.player{
    position: fixed;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    height: 100px;
    width: 300px;
}
.brad{
    position: fixed;
    margin-left: 1100px;
    margin-top: 50px;
    border: none;
    height: 100px;
    width: 300px;
}
.david{
    position: fixed;
    margin-left: 50px;
    margin-top: 500px;
    border: none;
    height: 100px;
    width: 300px;
}
.ronaldo{
    position: fixed;
    margin-left: 1100px;
    margin-top: 500px;
    border: none;
    height: 100px;
    width: 300px;
}
.anhPlayer{
    position: fixed;
    margin-left: 330px;
    margin-top: -105px;
    width: 100px;
    height: 100px;
}
.anhBrad{
    position: fixed;
    margin-left: -120px;
    margin-top: -105px;
    width: 100px;
    height: 100px;
}
.anhDavid{
    position: fixed;
    margin-left: 330px;
    margin-top: -105px;
    width: 100px;
    height: 100px;
}
.anhRonaldo{
    position: fixed;
    margin-left: -120px;
    margin-top: -105px;
    width: 100px;
    height: 100px;
}
.button1{
    margin-top: 0px;
    margin-left: 650px;
    color: darkblue;
    background: darkorange;
    height: 50px;
}
.button2{
    margin-top: 0px;
    margin-left: 0px;
    color: darkblue;
    background: darkorange;
    height: 50px;
}
.button3{
    margin-top: 0px;
    margin-left: 0px;
    color: darkblue;
    background: darkorange;
    height: 50px;
}
.bet{
    font-size:80px;
    text-align: center;
    position: fixed;
    margin-top: 300px;
    margin-left: 700px;
    color: #9dff00;
    height: 50px;
    width: 100px;
}
tr,td{
    border-collapse: collapse;
    border: 1px solid yellow;
    width: 100px;
    height: 100px;
}
img {
    width:100px;
    height:100px;
}
#moneyPlayer{
    position: fixed;
    color: deeppink;
    font-size:50px ;
    margin-left: 120px;
    margin-top: -170px;
}
#moneyBrad{
    position: fixed;
    color: #00ffb1;
    font-size:50px ;
    margin-left: 120px;
    margin-top: -170px;
}
#moneyDavid{
    position: fixed;
    color: black;
    font-size:50px ;
    margin-left: 120px;
    margin-top: -170px;
}
#moneyRonaldo{
    position: fixed;
    color: yellow;
    font-size:50px ;
    margin-left: 120px;
    margin-top: -170px;
}
.result{
    font-size:50px;
    text-align: center;
    position: fixed;
    margin-top: 100px;
    margin-left: 650px;
    color: coral;
    height: 50px;
    width: 100px;
}


